In [128]:
import os
from collections import defaultdict
import numpy as np
import prody
import pandas as pd

# import nglview
# import matplotlib.pyplot as plt

## List of PDBs for Testing

## Calculate Solvent Accessibility and Relative Solvent Accessibility

In [127]:
# http://prowl.rockefeller.edu/aainfo/volume.htm
AA_SA_VOL = pd.DataFrame({'resn':         ['ALA', 'ARG', 'ASP', 'ASN', 'CYS', 'GLU', 'GLN', 'GLY', 'HIS', 'ILE', 
                                           'LEU', 'LYS', 'MET', 'PHE', 'PRO', 'SER', 'THR', 'TRP', 'TYR', 'VAL'],
                          'surface_area': [ 115.,  225.,  150.,  160.,  135.,  190.,  180.,   75.,  195.,  175., 
                                            170.,  200.,  185.,  210.,  145.,  115.,  140.,  255.,  230.,  155.],
                          'volume':       [ 88.6, 173.6, 111.1, 114.1, 108.5, 138.4, 143.8,  60.1, 153.2, 166.7, 
                                           166.7, 168.6, 162.9, 189.9, 112.7,  89.0, 116.1, 227.8, 193.6, 140.0]})


def run_dssp(pdb_id):
    """
    Run DSSP on a PDB file and return the resulting AtomGroup
    
    :param pdb_id: String containing PDB ID
    """
    # TODO: how to silence the DSSP functions completely
    
    file_ext_list = ['pdb', 'pdb.gz', 'dssp']
    gzip_file = pdb_id + '.pdb.gz'
    dssp_file = pdb_id + '.dssp'

    ag = prody.parsePDB(pdb_id, stderr=False)
    prody.execDSSP(gzip_file, stderr=False)
    prody.parseDSSP(dssp_file, ag)

    # File cleanup -- maybe there is a better way to handle this?
    for ext in file_ext_list:
        filename = '.'.join([pdb_id, ext])
        if os.path.isfile(filename):
            os.remove(filename)
            
    return ag


def gather_residue_dssp_data(atom_group):
    """
    Return DSSP data on a per-residue level and return as a dataframe
    
    :param atom_group: ProDyn AtomGroup instance
    """

    attr_list = ['dssp_acc', 'dssp_kappa', 'dssp_alpha', 'dssp_phi', 'dssp_psi']
    dssp_dict = defaultdict(list)

    for res in ag.iterResidues():
        pdb_resi = res.getResindex()
        dssp_resi = int(np.mean(res.getData('dssp_resnum')))
        
        if dssp_resi != 0:
            dssp_dict['resi'].append(pdb_resi)
            dssp_dict['resn'].append(res.getResname())
            dssp_dict['dssp_resi'].append(dssp_resi)
            
            for attr in attr_list:
                atom_data = np.array(res.getData(attr))
                assert np.allclose(atom_data.mean(), atom_data.min())
                dssp_dict[attr].append(atom_data.mean())

    dssp_df = pd.DataFrame(dssp_dict)
    return dssp_df


def calc_relative_solvent_sa(dssp_df, sa_df=AA_SA_VOL[['resn', 'surface_area']], 
                             resn_col='resn', resi_col='resi', sa_col='surface_area', rel_sa_col='dssp_acc_rel'):
    """
    Calculate percentage surface area
    
    :param dssp_df: DataFrame with aggregated DSSP results -- output from `gather_residue_dssp_data`
    :param sa_df: DataFrame with per-residue surface accessible area measurements default is AA_SA_VOL
    :param resn_col: String that holds the column name for residue names
    :param resi_col: String thad holds the column name for residue numbers
    :param sa_col: String that holds the column name for surface area
    :param rel_sa_col: String that holds the column name 
    """
    rel_sa_df = pd.merge(dssp_df, sa_df, on=resn_col, how='left').sort_values(resi_col)
    rel_sa_df[rel_sa_col] = rel_sa_df['dssp_acc'] / rel_sa_df[sa_col]
    rel_sa_df.drop(sa_col, axis=1, inplace=True)
    return rel_sa_df

def 
    
    
pdb_ids = "5r7y, 5r7z, 5r80, 5r81, 5r82, 5r83, 5r84, 5re4, 5re5, 5re6, 5re7, 5re8, 5re9, 5rea, 5reb, 5rec, 5red, 5ree, 5ref, 5reg, 5reh, 5rei, 5rej, 5rek, 5rel, 5rem, 5ren, 5reo, 5rep, 5rer, 5res, 5ret, 5reu, 5rev, 5rew, 5rex, 5rey, 5rez, 5rf0, 5rf1, 5rf2, 5rf3, 5rf4, 5rf5, 5rf6, 5rf7, 5rf8, 5rf9, 5rfa, 5rfb, 5rfc, 5rfd, 5rfe, 5rff, 5rfg, 5rfh, 5rfi, 5rfj, 5rfk, 5rfl, 5rfm, 5rfn, 5rfo, 5rfp, 5rfq, 5rfr, 5rfs, 5rft, 5rfu, 5rfv, 5rfw, 5rfx, 5rfy, 5rfz, 5rg0, 6lu7, 6m03, 6w63, 6y2e, 6y2f, 6y2g, 6y84, 6yb7"
pdb_ids = pdb_ids.split(", ")


pdb_id = pdb_ids[0]
atom_group = run_dssp(pdb_id)
dssp_df = gather_residue_dssp_data(atom_group)
calc_relative_solvent_sa(dssp_df)

@> Connecting wwPDB FTP server RCSB PDB (USA).
@> 5r7y downloaded (5r7y.pdb.gz)
@> PDB download via FTP completed (1 downloaded, 0 failed).
@> 2698 atoms and 1 coordinate set(s) were parsed in 0.04s.

,resi,resn,dssp_resi,dssp_acc,dssp_kappa,dssp_alpha,dssp_phi,dssp_psi,dssp_acc_rel
0,0,SER,1,157.0,360.0,360.0,360.0,170.9,1.365217
1,1,GLY,2,48.0,360.0,-130.7,98.3,147.1,0.640000
2,2,PHE,3,22.0,27.7,178.9,-137.9,121.1,0.104762
3,3,ARG,4,193.0,42.4,-103.6,-126.6,151.5,0.857778
4,4,LYS,5,84.0,57.1,-169.2,-71.2,110.9,0.420000
...,...,...,...,...,...,...,...,...,...
299,299,CYS,300,50.0,121.0,36.6,-78.1,-14.7,0.370370
300,300,SER,301,82.0,106.8,-125.6,-106.5,-29.5,0.713043
301,301,GLY,302,50.0,32.0,-172.7,89.3,37.9,0.666667
302,302,VAL,303,90.0,360.0,360.0,-56.1,146.0,0.580645
303,303,THR,304,149.0,360.0,360.0,-124.6,360.0,1.064286

In [115]:
dssp_df.columns

Index(['resi', 'resn', 'dssp_resi', 'dssp_acc', 'dssp_kappa', 'dssp_alpha',
       'dssp_phi', 'dssp_psi'],
      dtype='object')

In [122]:
dssp_df[['resi', 'resn', 'dssp_acc']].set_index('resn').div(sa_df.set_index('resn').rename(columns={'surface_area': 'dssp_acc'}))

      dssp_acc  resi
resn
ALA   0.252174   NaN
ALA   0.165217   NaN
ALA   0.486957   NaN
ALA   0.052174   NaN
ALA   0.000000   NaN
...        ...   ...
VAL   0.135484   NaN
VAL   0.064516   NaN
VAL   0.000000   NaN
VAL   0.380645   NaN
VAL   0.580645   NaN

[304 rows x 2 columns]

In [123]:
dssp_df.div?

Signature: dssp_df.div(other, axis='columns', level=None, fill_value=None)
Docstring:
Get Floating division of dataframe and other, element-wise (binary operator `truediv`).

Equivalent to ``dataframe / other``, but with support to substitute a fill_value
for missing data in one of the inputs. With reverse version, `rtruediv`.

Among flexible wrappers (`add`, `sub`, `mul`, `div`, `mod`, `pow`) to
arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

Parameters
----------
other : scalar, sequence, Series, or DataFrame
    Any single or multiple element data structure, or list-like object.
axis : {0 or 'index', 1 or 'columns'}
    Whether to compare by the index (0 or 'index') or columns
    (1 or 'columns'). For Series input, axis to match Series index on.
level : int or label
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : float or None, default None
    Fill existing missing (NaN) values, and any new element needed for
    successful DataFrame alignment, with this value before computation.
    If data in both corresponding DataFrame locations is missing
    the result will be missing.

Returns
-------
DataFrame
    Result of the arithmetic operation.

See Also
--------
DataFrame.add : Add DataFrames.
DataFrame.sub : Subtract DataFrames.
DataFrame.mul : Multiply DataFrames.
DataFrame.div : Divide DataFrames (float division).
DataFrame.truediv : Divide DataFrames (float division).
DataFrame.floordiv : Divide DataFrames (integer division).
DataFrame.mod : Calculate modulo (remainder after division).
DataFrame.pow : Calculate exponential power.

Notes
-----
Mismatched indices will be unioned together.

Examples
--------
>>> df = pd.DataFrame({'angles': [0, 3, 4],
...                    'degrees': [360, 180, 360]},
...                   index=['circle', 'triangle', 'rectangle'])
>>> df
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

Add a scalar with operator version which return the same
results.

>>> df + 1
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

>>> df.add(1)
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

Divide by constant with reverse version.

>>> df.div(10)
           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

>>> df.rdiv(10)
             angles   degrees
circle          inf  0.027778
triangle   3.333333  0.055556
rectangle  2.500000  0.027778

Subtract a list and Series by axis with operator version.

>>> df - [1, 2]
           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

>>> df.sub([1, 2], axis='columns')
           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

>>> df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
...        axis='index')
           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

Multiply a DataFrame of different shape with operator version.

>>> other = pd.DataFrame({'angles': [0, 3, 4]},
...                      index=['circle', 'triangle', 'rectangle'])
>>> other
           angles
circle          0
triangle        3
rectangle       4

>>> df * other
           angles  degrees
circle          0      NaN
triangle        9      NaN
rectangle      16      NaN

>>> df.mul(other, fill_value=0)
           angles  degrees
circle          0      0.0
triangle        9      0.0
rectangle      16      0.0

Divide by a MultiIndex by level.

>>> df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
...                              'degrees': [360, 180, 360, 360, 540, 720]},
...                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
...                                    ['circle', 'triangle', 'rectangle',
...                                     'square', 'pentagon', 'hexagon']])
>>> df_multindex
             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720

>>> df.div(df_multindex, level=1, fill_value=0)
             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0
File:      ~/miniconda3/envs/annotations/lib/python3.6/site-packages/pandas/core/ops/__init__.py
Type:      method

,resi,resn,dssp_resi,dssp_acc,dssp_kappa,dssp_alpha,dssp_phi,dssp_psi
0,0,SER,1,157.0,360.0,360.0,360.0,170.9
1,1,GLY,2,48.0,360.0,-130.7,98.3,147.1
2,2,PHE,3,22.0,27.7,178.9,-137.9,121.1
3,3,ARG,4,193.0,42.4,-103.6,-126.6,151.5
4,4,LYS,5,84.0,57.1,-169.2,-71.2,110.9
...,...,...,...,...,...,...,...,...
299,299,CYS,300,50.0,121.0,36.6,-78.1,-14.7
300,300,SER,301,82.0,106.8,-125.6,-106.5,-29.5
301,301,GLY,302,50.0,32.0,-172.7,89.3,37.9
302,302,VAL,303,90.0,360.0,360.0,-56.1,146.0
303,303,THR,304,149.0,360.0,360.0,-124.6,360.0

In [58]:
res.getData('dssp_resnum')

array([0])

In [67]:
res.getData('dssp_acc')

array([0.])

In [57]:
for res in ag.iterResidues():
    print(res.getResindex(), res.getResname())

0 SER
1 GLY
2 PHE
3 ARG
4 LYS
5 MET
6 ALA
7 PHE
8 PRO
9 SER
10 GLY
11 LYS
12 VAL
13 GLU
14 GLY
15 CYS
16 MET
17 VAL
18 GLN
19 VAL
20 THR
21 CYS
22 GLY
23 THR
24 THR
25 THR
26 LEU
27 ASN
28 GLY
29 LEU
30 TRP
31 LEU
32 ASP
33 ASP
34 VAL
35 VAL
36 TYR
37 CYS
38 PRO
39 ARG
40 HIS
41 VAL
42 ILE
43 CYS
44 THR
45 SER
46 GLU
47 ASP
48 MET
49 LEU
50 ASN
51 PRO
52 ASN
53 TYR
54 GLU
55 ASP
56 LEU
57 LEU
58 ILE
59 ARG
60 LYS
61 SER
62 ASN
63 HIS
64 ASN
65 PHE
66 LEU
67 VAL
68 GLN
69 ALA
70 GLY
71 ASN
72 VAL
73 GLN
74 LEU
75 ARG
76 VAL
77 ILE
78 GLY
79 HIS
80 SER
81 MET
82 GLN
83 ASN
84 CYS
85 VAL
86 LEU
87 LYS
88 LEU
89 LYS
90 VAL
91 ASP
92 THR
93 ALA
94 ASN
95 PRO
96 LYS
97 THR
98 PRO
99 LYS
100 TYR
101 LYS
102 PHE
103 VAL
104 ARG
105 ILE
106 GLN
107 PRO
108 GLY
109 GLN
110 THR
111 PHE
112 SER
113 VAL
114 LEU
115 ALA
116 CYS
117 TYR
118 ASN
119 GLY
120 SER
121 PRO
122 SER
123 GLY
124 VAL
125 TYR
126 GLN
127 CYS
128 ALA
129 MET
130 ARG
131 PRO
132 ASN
133 PHE
134 THR
135 ILE
136 LYS
137 GLY
138 SER
139 PHE
140 LEU
141 ASN
142 GLY
143 SER
144 CYS
145 GLY
146 SER
147 VAL
148 GLY
149 PHE
150 ASN
151 ILE
152 ASP
153 TYR
154 ASP
155 CYS
156 VAL
157 SER
158 PHE
159 CYS
160 TYR
161 MET
162 HIS
163 HIS
164 MET
165 GLU
166 LEU
167 PRO
168 THR
169 GLY
170 VAL
171 HIS
172 ALA
173 GLY
174 THR
175 ASP
176 LEU
177 GLU
178 GLY
179 ASN
180 PHE
181 TYR
182 GLY
183 PRO
184 PHE
185 VAL
186 ASP
187 ARG
188 GLN
189 THR
190 ALA
191 GLN
192 ALA
193 ALA
194 GLY
195 THR
196 ASP
197 THR
198 THR
199 ILE
200 THR
201 VAL
202 ASN
203 VAL
204 LEU
205 ALA
206 TRP
207 LEU
208 TYR
209 ALA
210 ALA
211 VAL
212 ILE
213 ASN
214 GLY
215 ASP
216 ARG
217 TRP
218 PHE
219 LEU
220 ASN
221 ARG
222 PHE
223 THR
224 THR
225 THR
226 LEU
227 ASN
228 ASP
229 PHE
230 ASN
231 LEU
232 VAL
233 ALA
234 MET
235 LYS
236 TYR
237 ASN
238 TYR
239 GLU
240 PRO
241 LEU
242 THR
243 GLN
244 ASP
245 HIS
246 VAL
247 ASP
248 ILE
249 LEU
250 GLY
251 PRO
252 LEU
253 SER
254 ALA
255 GLN
256 THR
257 GLY
258 ILE
259 ALA
260 VAL
261 LEU
262 ASP
263 MET
264 CYS
265 ALA
266 SER
267 LEU
268 LYS
269 GLU
270 LEU
271 LEU
272 GLN
273 ASN
274 GLY
275 MET
276 ASN
277 GLY
278 ARG
279 THR
280 ILE
281 LEU
282 GLY
283 SER
284 ALA
285 LEU
286 LEU
287 GLU
288 ASP
289 GLU
290 PHE
291 THR
292 PRO
293 PHE
294 ASP
295 VAL
296 VAL
297 ARG
298 GLN
299 CYS
300 SER
301 GLY
302 VAL
303 THR
304 JFM
305 DMS
306 DMS
307 DMS
308 DMS
309 CL
310 HOH
311 HOH
312 HOH
313 HOH
314 HOH
315 HOH
316 HOH
317 HOH
318 HOH
319 HOH
320 HOH
321 HOH
322 HOH
323 HOH
324 HOH
325 HOH
326 HOH
327 HOH
328 HOH
329 HOH
330 HOH
331 HOH
332 HOH
333 HOH
334 HOH
335 HOH
336 HOH
337 HOH
338 HOH
339 HOH
340 HOH
341 HOH
342 HOH
343 HOH
344 HOH
345 HOH
346 HOH
347 HOH
348 HOH
349 HOH
350 HOH
351 HOH
352 HOH
353 HOH
354 HOH
355 HOH
356 HOH
357 HOH
358 HOH
359 HOH
360 HOH
361 HOH
362 HOH
363 HOH
364 HOH
365 HOH
366 HOH
367 HOH
368 HOH
369 HOH
370 HOH
371 HOH
372 HOH
373 HOH
374 HOH
375 HOH
376 HOH
377 HOH
378 HOH
379 HOH
380 HOH
381 HOH
382 HOH
383 HOH
384 HOH
385 HOH
386 HOH
387 HOH
388 HOH
389 HOH
390 HOH
391 HOH
392 HOH
393 HOH
394 HOH
395 HOH
396 HOH
397 HOH
398 HOH
399 HOH
400 HOH
401 HOH
402 HOH
403 HOH
404 HOH
405 HOH
406 HOH
407 HOH
408 HOH
409 HOH
410 HOH
411 HOH
412 HOH
413 HOH
414 HOH
415 HOH
416 HOH
417 HOH
418 HOH
419 HOH
420 HOH
421 HOH
422 HOH
423 HOH
424 HOH
425 HOH
426 HOH
427 HOH
428 HOH
429 HOH
430 HOH
431 HOH
432 HOH
433 HOH
434 HOH
435 HOH
436 HOH
437 HOH
438 HOH
439 HOH
440 HOH
441 HOH
442 HOH
443 HOH
444 HOH
445 HOH
446 HOH
447 HOH
448 HOH
449 HOH
450 HOH
451 HOH
452 HOH
453 HOH
454 HOH
455 HOH
456 HOH
457 HOH
458 HOH
459 HOH
460 HOH
461 HOH
462 HOH
463 HOH
464 HOH
465 HOH
466 HOH
467 HOH
468 HOH
469 HOH
470 HOH
471 HOH
472 HOH
473 HOH
474 HOH
475 HOH
476 HOH
477 HOH
478 HOH
479 HOH
480 HOH
481 HOH
482 HOH
483 HOH
484 HOH
485 HOH
486 HOH
487 HOH
488 HOH
489 HOH
490 HOH
491 HOH
492 HOH
493 HOH
494 HOH
495 HOH
496 HOH
497 HOH
498 HOH
499 HOH
500 HOH
501 HOH
502 HOH
503 HOH
504 HOH
505 HOH
506 HOH
507 HOH
508 HOH
509 HOH
510 HOH
511 HOH
512 HOH
513 HOH
514 HOH
515 HOH
516 HOH
517 HOH
518 HOH
519 HOH
520 HOH
521 HOH
522 HOH
523 HOH
524 HOH
525 HOH
526 HOH
527 HOH
528 HOH
529 HOH
530 HOH
531 HOH
532 HOH
533 HOH
534 HOH
535 HOH
536 HOH
537 HOH
538 HOH
539 HOH
540 HOH
541 HOH
542 HOH
543 HOH
544 HOH
545 HOH
546 HOH
547 HOH
548 HOH
549 HOH
550 HOH
551 HOH
552 HOH
553 HOH
554 HOH
555 HOH
556 HOH
557 HOH
558 HOH
559 HOH
560 HOH
561 HOH
562 HOH
563 HOH
564 HOH
565 HOH
566 HOH
567 HOH
568 HOH
569 HOH
570 HOH
571 HOH
572 HOH
573 HOH
574 HOH
575 HOH
576 HOH
577 HOH
578 HOH
579 HOH
580 HOH
581 HOH
582 HOH
583 HOH
584 HOH
585 HOH
586 HOH
587 HOH
588 HOH
589 HOH
590 HOH
591 HOH
592 HOH
593 HOH
594 HOH
595 HOH
596 HOH
597 HOH
598 HOH
599 HOH
600 HOH
601 HOH
602 HOH
603 HOH
604 HOH
605 HOH
606 HOH
607 HOH
608 HOH
609 HOH
610 HOH
611 HOH
612 HOH
613 HOH
614 HOH
615 HOH
616 HOH
617 HOH
618 HOH
619 HOH
620 HOH
621 HOH
622 HOH
623 HOH
624 HOH
625 HOH
626 HOH
627 HOH
628 HOH
629 HOH
630 HOH

In [56]:
res.getResname()

'SER'

In [52]:
dssp_df.groupby('dssp_resnum').agg(['min', 'max'])

            dssp_acc        dssp_kappa        dssp_alpha        dssp_phi  \
                 min    max        min    max        min    max      min
dssp_resnum
0                0.0    0.0        0.0    0.0        0.0    0.0      0.0
1              157.0  157.0      360.0  360.0      360.0  360.0    360.0
2               48.0   48.0      360.0  360.0     -130.7 -130.7     98.3
3               22.0   22.0       27.7   27.7      178.9  178.9   -137.9
4              193.0  193.0       42.4   42.4     -103.6 -103.6   -126.6
...              ...    ...        ...    ...        ...    ...      ...
300             50.0   50.0      121.0  121.0       36.6   36.6    -78.1
301             82.0   82.0      106.8  106.8     -125.6 -125.6   -106.5
302             50.0   50.0       32.0   32.0     -172.7 -172.7     89.3
303             90.0   90.0      360.0  360.0      360.0  360.0    -56.1
304            149.0  149.0      360.0  360.0      360.0  360.0   -124.6

                   dssp_psi
               max      min    max
dssp_resnum
0              0.0      0.0    0.0
1            360.0    170.9  170.9
2             98.3    147.1  147.1
3           -137.9    121.1  121.1
4           -126.6    151.5  151.5
...            ...      ...    ...
300          -78.1    -14.7  -14.7
301         -106.5    -29.5  -29.5
302           89.3     37.9   37.9
303          -56.1    146.0  146.0
304         -124.6    360.0  360.0

[305 rows x 10 columns]

array([170.9, 170.9, 170.9, ...,   0. ,   0. ,   0. ])